$medium: 1200px;

.container{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;

    .textContainer{
        width: 30%;

        h1{
            font-size: 4rem;
        }
    }

    @media screen and (max-width: $medium) {
        gap: 1rem;
        flex-direction: column-reverse;
        .textContainer{
            width: 50%;
            h1{
                text-align: center;
                font-size: 2rem;
            }
            span{
                text-align: center;
                display: flex;
            }
        }
    }
}