@media only screen and (max-width: 660px) {
    .container{
        .btnMobile{
            display: block;
        }
        .menuOff,.menuOn{
            display: none;
        }
    }
}

.container{
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;

    ul{
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.btnMobile{
    display: none;
}

.container, .containerMobileOn,.containerMobileOff{
    background-color: #0e0e0e4d;
    display: flex;
    ul{
        list-style: none;
        li{
            cursor: pointer;
        }
    }
    h1{
        strong{
            color: #2196f3;
        }
    }

    .btnNav{
        border: 0;
        cursor: pointer;
        border-radius: 1rem;
        width: 6rem;
        height: 2rem;
        background-color: #2196f3;
        color: #fff;
        font-weight: 700;
    }

    .btnNav,li{
        transition: 0.2s;

        &:hover{
            opacity: 0.85;
        }
    }
}

.btnMobileActive{
    position: absolute;
    right: 1rem;
    top: 1.7rem;
}

.btnMobile,.btnMobileActive{
    background-color: #bdbdbd00;
    border: 0;
}

.containerMobileOn{
    position:absolute;
    width: 100%;
    height: 100vh !important;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
    
    ul{
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .btnMobile{
        display: block;
    }
    .menuOff{
        display: flex;
    }
    .menuOn{
        display: flex;
    }
}

