.container, .containerMobileOff{
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;

    ul{
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.container, .containerMobileOn,.containerMobileOff{
    background-color: #0e0e0e4d;
    display: flex;
    ul{
        list-style: none;
        li{
            cursor: pointer;
        }
    }
    h1{
        strong{
            color: #2196f3;
        }
    }

    .btnNav{
        border: 0;
        cursor: pointer;
        border-radius: 1rem;
        width: 6rem;
        height: 2rem;
        background-color: #2196f3;
        color: #fff;
        font-weight: 700;
    }

    .btnNav,li{
        transition: 0.2s;

        &:hover{
            opacity: 0.85;
        }
    }

    .btnMobile{
        display: none;
    }
}

.containerMobileOff{
    .btnMobile{
        display: block;
    }
    .menuOff,.menuOn{
        display: none;
    }
}
.containerMobileOn{
    position:absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    ul{
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .btnMobile{
        display: block;
    }
    .menuOff{
        display: flex;
    }
    .menuOn{
        display: flex;
    }
    
}

.btnMobileActive{
    position: absolute;
    right: 1rem;
    top: 2rem;
}

